.about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1077px;
  width: 100%;
}

.about-img {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.5);
  height: 503px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  max-width: 503px;
  width: 100%;
}

.img-circle img {
  filter: brightness(0.90);
  height: auto;
  left: 50%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 50%;
}

.about-icon div {
  align-items: center;
  background-color: #FFF;
  border-radius: 20px;
  display: flex;
  height: 76px;
  justify-content: center;
  width: 242px;
}

.about-icon p {
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.about-content .name {
  font-size: 48px;
  font-weight: bold;
  margin: 55px 0;
}

.content {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-items {
  display: flex;
}

.content-items img {
  height: auto;
  overflow: auto;
  width: 60px;
}

.content-items p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  max-width: 400px;
  width: 100%;
}

.info {
  margin: 0 5px 40px 5px;
}