.home {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;
}

.home .title {
  align-items: start;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 864px;
}

.title p[name="ola"] {
  font-size: 32px;
}

.title p[name="software"] {
  font-size: 128px;
  margin-right: 40px;
}

.icons-title {
  align-items: end;
  display: flex;
}

.title .icons-title .icons {
  font-size: 50px;
  margin-bottom: 15px;
}

.title .icons-title i {
  margin-right: 10px;
}

.title p[name="developer"] {
  font-size: 160px;
  margin-bottom: 20px;
}

.title p[name="desc"] {
  align-self: end;
  font-size: 22px;
  font-weight: 500;
  width: 52%;
}

.linkedin-icon {
  position: relative;
  z-index: 1;
}

.linkedin-icon i {
  color: #0078D4;
}

.linkedin-icon div[name="square"] {
  background-color: #FFF;
  height: 45px;
  left: 3px;
  position: absolute;
  top: 7px;
  width: 45px;
  z-index: -1;
}