.timeline {
  margin: 0 auto;
  margin-top: 200px;
  max-width: 1498px;
  width: 100%;
  height: 100vh;
}

.arrow {
  align-items: center;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.line {
  background-color: #FFF;
  height: 15px;
  width: 100%;
}

.dots-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: -1px;
  position: absolute;
  width: 80%;
}

.dot {
  background-color: #530082;
  border-radius: 50%;
  border: 15px solid #FFF;
  height: 30px;
  width: 30px;
}

.arrow-tip {
  border-bottom: 30px solid transparent;
  border-left: 60px solid #FFF;
  border-top: 30px solid transparent;
}

.description {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.desc-component {
  margin-left: 5px;
  max-width: 355px;
  width: 100%;
}

.desc-component:not(:last-child) {
  margin-right: 20px;
}

.desc-titles {
  font-size: 32px;
  font-weight: bold;
}

.desc-texts {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}