@media (max-width: 1080px) {
  .img-circle {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 870px) {
  .img-circle {
    height: 300px;
    width: 300px;
  }

  .about-icon div {
    height: 60px;
    width: 200px;
  }

  .about-icon p {
    font-size: 25px;
  }

  .about-content {
    margin-left: 20px;
  }

  .about-content .name {
    font-size: 30px;
    margin: 40px 0;
  }

  .content-items img {
    margin-bottom: 40px;
    width: 40px;
  }

  .content-items p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 233px;
  }

  .info {
    margin: 0 5px 0 5px;
  }
}

@media (max-width: 600px) {
  .img-circle {
    height: 200px;
    margin-left: 5px;
    width: 200px;
  }

  .about-content {
    align-items: center;
    margin-left: 5px;
  }

  .about-icon div {
    height: 40px;
    width: 130px;
  }

  .about-icon p {
    font-size: 16px;
  }

  .about-content .name {
    font-size: 20px;
    margin: 20px 0 20px 0;
  }

  .content-items img {
    height: 30px;
    width: 30px;
  }

  .content-items p {
    font-size: 12px;
    max-width: 124px;
  }

  .info {
    margin: 0 5px 30px 0;
  }
}

@media (max-width: 330px) {
  .about-img {
    display: none;
  }

  .about-content {
    margin: 0 auto;
  }

  .about-content .name {
    font-size: 17px;
  }
}